body{
    font-family: 'Courier New', Courier, monospace;
}

.border{
    margin: auto;
    border-width: 1px;
    border-style: solid;
    border-color:black;
    border-radius: 10px;
}

.interno{
    padding: 10px;
}

.in{
   margin-bottom: 80px;
}

.botao{
    margin-bottom: 30px;
}

.final{
    font-weight: bold;
}

